@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*General*/

h1{
	font-size: 5em;
	color: #F2F3F4;
	font-family: Righteous;
	padding: 12px 23px;
	background: #2C3E50;
}

/*Mobile Menu*/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #2980B9;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 1.3vh 4vw;
  text-decoration: none;
  font-size: 4.3em;
  display: block;
  font-family: sans-serif,Cinzel;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: #16A085;
  display: block;
  position: absolute;
  font-size: 2.75em;
  padding: 2.35vh 5vw;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #17202A;
  color: #ffffff;
}

/* Style the active link (or home/logo) */
.h1active {
  background-color: #34495E;
  color: #F2F3F4;
  font-family: Righteous !important;
  padding: 60px 0
}


/*Style for Desktop/Largescreen Header*/

#heading{
	background: #34495E;
	color: #F2F3F4;
	font-family: Righteous,Zen Dots,Cinzel,cursive;
	margin: 0;
}


/*Style - Nav Bar*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nvactive) {
  background-color: #dddddd;
  color: #000;
}

li a.nvactive {
  color: white;
  background-color: #16A085;
}

/*typewriter*/

#tw{
	color: #000000;
	font-family: Cinzel;
	font-size: 2em;
	margin: 10px 0;
}

/*Content*/

.para a{
	text-decoration: none;
	font-family: Space Mono;
}

hr{
	width: 85%;
	margin: auto;
	color: #000;
}


.p1{
	font-family: ;
	font-size: 2.7em;
	padding: 2% 0 0 0;

}

.head{
	font-size: 3vh;
	font-weight: bold;
	font-family: Quicksand,sans-serif;
	padding-bottom: 10px;
}

.para{
	padding: 10px 40px;
	font-family: Istok Web;
	font-size: 2.8vh;

}

.rules{
	font-size: 2vh;
	margin: 0 0 0 40px;
}


table{
	font-size: 2.5vh;
}

/*Footer Style*/

#footer{
	font-family: sans-serif;
	color: #fff;
	font-size: 2vh;
	background: #8E44AD;
	margin:  10% 0 0 0;
	padding: 30px 0;
	
}

/*fms-cms list style*/

.list-group{
	margin-top: 5%;
	font-size: 3vh;
}

.list-group li{
	margin: 0 4vw;
}

.p2{
	font-size: 5vh;
	margin-top: 30px;
}

/**********style for tabs*********/


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

#t1, #common{
	background: #AED6F1;
	color: #2471A3;
}

#t2, #bronze{
	background: #F0B27A;
	color: #D35400;
}

#t3, #silver{
	background: #D5DBDB;
	color: #839192;
}

#t4, #platinum{
	background: #AEB6BF;
	color: #2C3E50;
}

#t5, #banned{
	background: #EC7063;
	color: #C0392B;
}




/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 2.5vh;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 5px 12px 60px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}




/*profile css*/

#pb_body{
    background:#DCDCDC;
    margin-top:20px;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}


.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
    font-size: 2.5vh;
}
h4 {
    line-height: 22px;
    font-size: 3vh;
    margin-bottom: 10px;
}

#pb_head{
	font-size: 4vh;
}

#pb-btn{
	font-size: 2.5vh;
    padding: 15px;
}

.mb-0{
	font-size: 2vh;
}