@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*General*/

h1{
	font-size: 5em;
	color: #F2F3F4;
	font-family: Righteous;
	padding: 12px 23px;
	background: #2C3E50;
}

/*Mobile Menu*/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #2980B9;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 1.3vh 4vw;
  text-decoration: none;
  font-size: 4.3em;
  display: block;
  font-family: sans-serif,Cinzel;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: #16A085;
  display: block;
  position: absolute;
  font-size: 2.75em;
  padding: 2.35vh 5vw;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #17202A;
  color: #ffffff;
}

/* Style the active link (or home/logo) */
.h1active {
  background-color: #34495E;
  color: #F2F3F4;
  font-family: Righteous !important;
  padding: 60px 0
}


/*Style for Desktop/Largescreen Header*/

#heading{
	background: #34495E;
	color: #F2F3F4;
	font-family: Righteous,Zen Dots,Cinzel,cursive;
	margin: 0;
}


/*Style - Nav Bar*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nvactive) {
  background-color: #dddddd;
  color: #000;
}

li a.nvactive {
  color: white;
  background-color: #16A085;
}

/*typewriter*/

#tw{
	color: #000000;
	font-family: Cinzel;
	font-size: 2em;
	margin: 10px 0;
}

/*Content*/

.para a{
	text-decoration: none;
	font-family: Space Mono;
}

hr{
	width: 85%;
	margin: auto;
	color: #000;
}


.p1{
	font-family: ;
	font-size: 2.7em;
	padding: 2% 0 0 0;

}

.head{
	font-size: 3vh;
	font-weight: bold;
	font-family: Quicksand,sans-serif;
	padding-bottom: 10px;
}

.para{
	padding: 10px 40px;
	font-family: Istok Web;
	font-size: 2.8vh;

}

.rules{
	font-size: 2vh;
	margin: 0 0 0 40px;
}


/*Footer Style*/

#footer{
	font-family: sans-serif;
	color: #fff;
	font-size: 2vh;
	background: #8E44AD;
	margin:  10% 0 0 0;
	padding: 30px 0;
	
}

/*fms-cms list style*/

.list-group{
	margin-top: 5%;
	font-size: 3vh;
}

.list-group li{
	margin: 0 4vw;
}

.p2{
	font-size: 4vh;
	margin-top: 30px;
}